.profile-img {
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.about-me img {
  width: 180px;
  height: auto;
  transition: all 0.5s ease;
}

.about-me img:hover {
  scale: 1.05;
}

.about-me .card {
  overflow: hidden;
}

.projects .card {
  overflow: hidden;
}

.gallery {
  background-color: #f4e7e1;
}
.gallery .gallery-item {
  overflow: hidden;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
}
.gallery .gallery-item img {
  transition: transform 0.3s ease-in-out;
  width: 500px;
}
.gallery .gallery-item img:hover {
  transform: scale(1.05);
}

.contact input[type=text],
.contact input[type=email] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact i {
  font-size: 50px;
}

@media (max-width: 780px) {
  .profile-img {
    width: 150px;
  }
  .about-me img {
    width: 100px;
    height: auto;
  }
}
@media (max-width: 520px) {
  .gallery img {
    width: 20%;
  }
}
