body {
  font-family: Montserrat, "Open Sans", sans-serif;
  color: #333;
  background-color: #f4f4f4;
  box-sizing: border-box;
  cursor: pointer;
  scroll-behavior: smooth;
}
h2,
h1 {
  font-weight: bold;
}
