.profile-img {
  width: 200px !important;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;
  background-color: red;
}

.profile::after {
  content: " ";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #ff9c45d1;
  border-radius: 50%;
  top: -15px;
  left: 25px;
  z-index: -1;
}

.walking-man {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 25vw;
  height: 20vw;
  // animation: walk 8s linear infinite;
  z-index: 10000;
  transition: all linear 0.4s;
}

.walking-man:hover {
  // background-color: #33333377;
  transform: translateX(-50%);
  opacity: 0;
  border-radius: 50%;
}

@keyframes walk {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(90vw);
  }
}

.carousel-item img {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.caption {
  border: 1px solid black;
  height: auto;
  border-radius: 0px 0px 10px 10px;
  background-color: #333333;
  padding: 10px;

  h5 {
    color: #ff9b45;
  }

  p {
    color: #f4e7e1;
  }
}

.gallery {
  background-color: #f4e7e1;

  .gallery-item {
    overflow: hidden;
    border-radius: 0.5rem;
    filter: brightness(0.4);
    transition: all 1s ease-in-out;
    &:hover {
      filter: brightness(0.9);
    }

    img {
      transition: transform 0.3s ease-in-out;
      width: 500px;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.contact input[type="text"],
.contact input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact i {
  font-size: 50px;
}

@media (max-width: 780px) {
  .profile-img {
    width: 150px;
  }

  .about-me img {
    width: 100px;
    height: auto;
  }
  .learn-more {
    display: none;
  }
  .carousel-div {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .carousel-item.active {
    display: flex !important;
  }

  .caption {
    border-radius: 0px 10px 10px 0px;
  }

  .carousel-item img {
    border-radius: 10px 0px 0px 10px;
    width: 50% !important;
  }
}

@media (max-width: 520px) {
  .gallery img {
    width: 20%;
  }
}
