.profile-img {
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.about-me img {
  width: 180px;
  height: auto;
  transition: all 0.5s ease;
}

.about-me img:hover {
  scale: 1.05;
}

.about-me .card {
  overflow: hidden;
}

.projects .card {
  overflow: hidden;
}

.gallery {
  background-color: #f4e7e1;

  .gallery-item {
    overflow: hidden;
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out;

    img {
      transition: transform 0.3s ease-in-out;
      width: 500px;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
